<%= erb :"partials/navbar" %>

<% @posts.each do |post|%>
    <div class="home-post-box">
            <div>
                <% User.all.each do |user| %>
                    <% if user.id == post.user_id%>
                        <img src=<%=user.image%> alt="Profile Picture" width="32" height="32">
                        <%= user.username %>
                    <% end %>
                <% end %>
            </div>
            <div>
                <img class="image-post" src=<%=post.images%> alt="Post Picture" height="641" width="641">
            </div>
            <div>
                <% User.all.each do |user| %>
                    <% if user.id == post.user_id%>
                        <%= user.username %>
                    <% end %>
                <% end %>
                <h4><%= post.body%></h4>
            </div>

    </div>
<% end %>
